.expert-box {
  max-height: 0;
  overflow: hidden;

  background: @df-light-gray;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
  -webkit-transition: all .5s  ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;

  &.selected {
    //THIS SHOULD CHANGE!!
    max-height: 110px;
    height: auto;
  }

  .experts {
    .display-flex();

    .expert {
      .flex(1);
      display: inline-block;
      width: 40%;

      .name {
        display: inline-block;
        font-size: 11px;
        font-family: @df-sans;
      }
      .pick {
        vertical-align: middle;
        width: 30%;
        padding-left: 5px;
      }
    }

    .divider {
      display: inline-block;
    }


  }
    .watch {
      font-size: 12px;
      border-top: 2px solid #69BE28;
      display: inline-block;
      padding-top: 2px;
    }
}