.expert-box {
  height: 0;
  overflow: hidden;

  background: white;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
  -webkit-transition: all .5s  ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;

  &.selected {
    //THIS SHOULD CHANGE!!
    height: auto;
  }

  .experts {
    .display-flex();
    .flex-wrap(wrap);

    .expert {
      .flex(1 0 40%);
      width: 40%;

      .pick {
        vertical-align: middle;
        width: 30%;
        padding-left: 5px;
      }
    }



  }
  .watch {
    .small-text {
      font-size: 12px;
      display: block;
      margin: 2px;
      &.border { 
        border-top: 2px dashed #69BE28;
        padding-top: 3px;
      }  
    }

  }
}