.expert-box {
  height: 0;
  overflow: hidden;

  background: white;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
  -webkit-transition: all .5s  ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;

  &.selected {
    //THIS SHOULD CHANGE!!
    height: auto;
  }

  .experts {
    .display-flex();
    .flex-wrap(wrap);

    .expert {
      .flex(1 0 40%);
      width: 40%;

      .pick {
        vertical-align: middle;
        width: 30%;
        padding-left: 5px;
      }
    }



  }
    .watch {
      .title {
      font-size: 12px;
      border-top: 2px solid #69BE28;
      display: inline-block;
      padding-top: 2px;
      }
      .small-text {
        display: block;
      }
    }
}