.game {
  width: 21%;
  background: #002244;   
  margin: 10px;
  font-family: @cool;
  .display-flex();
  .flex-direction(column);

      -webkit-transition: all .1s  ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  
  &.selected {
    outline: 5px solid #69BE28;
  }

  @media @small-screen {
    width: 30%
  }

  @media @tablet {
    width: 45%;
    font-size: 12px;
    font-weight: 100;
  }

  @media @mobile {
    width: 95%;
    margin: 20px auto;
  }

  .date {
    text-align: center;

    .small-text {
      display: block;
      font-size: 14px;
      margin: 0;
    }
  }

  .top {
    background: @df-light-gray;

  }
  .prediction {

    text-align: center;
    @media @mobile {
      padding-bottom: 20px;
    }

    .display-flex();
    .align-items(center);
    .justify-content(center);

    input.team-radio {
      display: none;
    }

    input.team-radio + label {
      .flex-order(2);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      width: 30%;

      img {
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
        }
      }

      .vs {
        display: none;
      }
    }
   input.vs + label {
      .flex(0 1 80px);
      .flex-order(2);
      .big-title {
        border-bottom: none;
      }
    }
    input.team-radio:checked + label {

      .flex-order(1);
      img {
        cursor: default;
        transform: scale(1.6);
        -webkit-transform: scale(1.6);
        margin: 10px 0;
        
      }
    }

 

    &.selected {

      .flex-direction(column);
      .small-title {
        display: none;
      }

      input.unchosen + label {
        .flex-order(3);


        img {
          display: inline-block;
          cursor: default;
          width: 50%;         
          vertical-align: middle;
          opacity: .6;
          padding-left: 5px;


          &:hover {
            transform: none;
          }
        }

        .vs {
          display: inline-block;
          vertical-align: middle;
        }
      }

      input.vs + label {
        display: none;
      }
    }
  }


}