.game {

  width: 21%;
  margin: 10px;

  -webkit-transition: all .1s  ease-out;
  transition: all .1s ease-out;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;

  &.selected {
    outline: 5px solid @green;
  }

  @media @small-screen {
    width: 30%;
  }
  @media @tablet {
    width: 45%;
    font-size: 12px;
    font-weight: 100;
  }
  @media @mobile {
    width: 90%;
    margin: 20px auto;
  }


  .top {
    background: @df-light-gray;

    .day {
      display: block;
      font-size: 14px;
      margin: 0;
    }

    .week {
      font-family: @cool;
      font-weight: 900;
      font-size: 18px;
      text-transform: uppercase;
      border-bottom: 3px solid @green;
      display: inline-block;
      @media @tablet {
        font-size: 25px;
      }
    }

    .prediction {
      .display-flex();
      .align-items(center);
      .justify-content(space-around);

      text-align: center;      
      @media @mobile {
        padding-bottom: 20px;
      }



      input.team-radio {
        display: none;
      }

      input.team-radio + label {
        .flex-order(2);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        width: 30%;

        img {
          cursor: pointer;
          &:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
          }
        }

      }

      input.vs + label {
        .flex(0 1);

        .over {
          font-family: @cool;
          margin: 2px;
        }
      }

      input.team-radio:checked + label {
        .flex-order(1);
        
        img {
          cursor: default;
          transform: scale(1.6);
          -webkit-transform: scale(1.6);
          margin-top: 10px;
        }
      }

            &.selected {

        .flex-direction(column);

        input.unchosen + label {
          .flex-order(3);
          padding-bottom: 5px;

          img {
            cursor: default;
            width: 50%;         
            opacity: .6;
            padding-left: 5px;

            &:hover {
              transform: none;
            }
          }
        }
      }


    }
  }
}