.game {
  width: 21%;
  background: #002244;   
  margin: 1%;
  font-family: @cool;
  .display-flex();
  .flex-direction(column);

  @media @mobile {
    width: 95%;
    margin: 20px auto;
  }

  .date {
    background: white;
    text-align: center;
  }

  .prediction {

    .display-flex();
    .align-items(center);
    .justify-content(center);

    background: white;
    padding-bottom: 20px;
    text-align: center;
    @media @mobile {
      padding-bottom: 20px;
    }

    input.team-radio {
      display: none;
    }

    //For the icons
    input.team-radio + label {

      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      width: 30%;
      img {
        border-radius: 50%;
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
        }
      }
      
      &:checked  img {
      background: fade(#69BE28, 60%);
      padding: 10px;
    }
    }


    
    input.vs + label {

      .flex(0 0 80px);
      font-size: 18px;
      font-weight: 900;
    }
  }

  &.results {
    width: 40%;
    display: block;
    background-color: @df-light-gray;
    margin: 10px;
    text-align: center;

    button {
      background-color: white;
      text-align: center;
      border: none;
      font-family: @df-sans;
      font-size: 30px;
      margin: 5% auto;
      cursor: pointer;
      margin: auto;
      display: block;
      &:hover {
        background-color: fade(@df-light-gray, 80%);
      }
    }
  }
}