@import "seattletimes";

body {

}

.container { 
  max-width: 1200px;
  margin: auto;
}

header {
  font-family: @cool;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.profile {
  display: inline-block;
  cursor: pointer;
}

.schedule {
  font-family: @df-sans;
  background: #002244;
  padding: 10px;
  .display-flex();
  .flex-wrap(wrap);
  .justify-content(center);
  @media @mobile {
    display: block;
  }


  .game {
    width: 21%;
    background-color: white;
    margin: 1%;
    .display-flex();
    .flex-direction(column);
    @media @mobile {
      width: 100%;
    }


    .date {
        text-align: center;
      p {
        font-weight: 900;
        font-size: 18px;
        text-transform: uppercase;
        border-bottom: 3px solid #69BE28;
        display: inline-block;
        .flex(1);
      }
    }


    .prediction {

      .display-flex();
      .align-items(center);
      .justify-content(space-around);
      padding: 5px;

      text-align: center;
      @media @mobile {
        padding: 0;
        margin: 5px;
      }
      
      .vs {
        font-size: 18px;
        font-weight: 900;
        .flex(0 0 100px);
      }


      input.team-radio {
        display: none;
      }

      input.team-radio + label {
        
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
        padding-bottom: 30px;
        position: relative;
        img {
          border-radius: 50%;
          transition: all .2s ease-in-out;
          &:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
          }
        }
        

      }

      input.team-radio:checked + label {
        img {
          background: fade(#69BE28, 60%);
        }

      }
    }

    .expert-box {
      display:none;
      background: #002244;
      font-size: 12px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      padding: 5px 0;
      
      &.selected {
        display: block;
        background: fade(#dbdddf, 60%);
      }
      .experts {
        img {
          width: 10%;
        }
      }
      
      .watch {
        border-top: 2px solid #69BE28;
        display: inline-block;
        padding-top: 2px;
      }
      
    }
  }
}

button {
  color: black;
  text-align: center;
  border: 5px solid #69BE28;
  font-family: @df-sans;
  font-size: 30px;
  margin: 5% auto;
  padding: 30px;
  cursor: pointer;
  margin: auto;
  display: block;
  &:hover {
    background-color: fade(@df-blue, 80%);
  }
}
