@import "seattletimes";
@import "experts";
@import "game";
@import "print";

body {
  background: #002244;


}

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
    text-align: center;
    @media @mobile {
      padding: 15px 0;
    }
  }

  header {
    max-width: 840px;
    margin: 0 auto;
    
  
    

    @media @tablet {
      padding-left: 8px;
      padding-right: 5px;
    }

    @media @mobile {
      padding: 5px 0;
    }
  }

  .title {
    font-family: @cool;
    font-size: 2.2em;
    margin: 5px auto;
    -webkit-font-smoothing: antialiased;
    color: greenyellow;

    @media @small-screen {
      font-size: 1.3em;
    }


    &.first {
      font-size: 4.4em;
      color: white;
      @media @small-screen {
        font-size: 2.2em;
      }
    }
  }
  .schedule {

    font-family: @df-sans;
    padding: 10px;
    .display-flex();
    .flex-wrap(wrap);
    .justify-content(center);


    @media @mobile {
    }
  }

  .results {
    width: 95%;
    min-height: 300px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    color: white;
    
    .congrats {
      text-transform: uppercase;
      color: white;
    }
    @media @small-screen {
    }
    @media @mobile {
    }

  }

  .big-title {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 3px solid #69BE28;
    display: inline-block;

    @media @tablet {
      font-size: 25px;
    }
  }

  .small-title {
    display: block;
    font-size: 12px;
    margin: 5px;

    @media @tablet {
      font-size: 16px;
    }
  }


  .small-text {
    display: inline-block;
    font-size: 11px;
    font-family: @df-sans;
  }


  .chatter {
    font-family: @df-sans;
    font-size: 24px;
    font-style: italic;
    padding: 5%;
    color: white;
    display: inline-block;
    width: 80%;
  }

  button {

    background-color: white;
    text-align: center;
    border: none;
    font-family: @df-sans;
    margin: 3px auto;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    display: block;

    .reset {
      display: inline-block;
      margin-right: 5%;
      float: right;
      width: 10px;
    }
  }


  a.share-results {
    margin: auto;
    margin-top: 10px;
    margin-top: 2px;

    label {
      background: black !important;
      color: white !important;

    }

    &.sharer-0 {
      width: 500px;
      @media @mobile {
        width: 360px;
      }


      label {
        font-size: 36px !important;
        margin-left: 2px;
        width: 500px !important;
        color: @df-dark-gray !important;
        background: @df-light-gray !important;
        &:hover {
          background: @df-border-gray !important;
          color: @df-charcoal !important;
        }

        &:before {
          display: none;

        }
        span {
          font-size: 36px !important;
          font-family: @cool !important;
        }
      }
    }

  }