@import "seattletimes";

header {
  font-family: @cool;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.profile {
  display: inline-block;
  cursor: pointer;
}

.schedule {
  font-family: @df-sans;
  
  .game {
    padding: 10px;
    background: @df-light-gray;
    
    .prediction {
      background: white;
      .display-flex();
      .align-items(center);
      .justify-content(space-around);
      padding: 10px;
      text-align: center;

      input.team-radio {
        display: none;
      }

      input.team-radio + label {
        text-transform: uppercase;
        
        img {
          width: 200px;
          margin: 3px;
          padding: 5px;
          display: block;
          transform: scale(.7);
          transition: all .2s ease-in-out;
          &:hover {
            transform: scale(.9);
          }
        }
      }
      
      input.team-radio:checked + label {
        img {
          border: 1px solid green;
        }
      }
      
      
      input.score-input {
        margin: 3px;
        padding: 5px;
        width: 60px;
        text-align: center;
      }
    }
  }
}

button {
  color: black;
  text-align: center;
  border: 5px solid black;
  font-family: @df-sans;
  font-size: 25px;
  width: 75px;
  margin: 5% auto;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: fade(@df-blue, 80%);
  }
}
